@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

header {
  height: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / -1;
  align-items: center;
  background: #bada33;
  font-size: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  margin: 20px;
}

.tile {
  background: gray;
  width: 200px;
  height: 300px;
  border: 3px solid gray;
  border-radius: 5px;
  transition: background 1s;
}

.btn {
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  opacity: 0.85;
  background: aqua;
}

.btn:hover {
  opacity: 1;
}
